!README.md
!all-custom.nix
!black/default.nix
mediawiki-codesniffer/*
!mediawiki-codesniffer/README.md
!mediawiki-codesniffer/composer-env.nix
!mediawiki-codesniffer/composer.json
!mediawiki-codesniffer/composer.lock
!mediawiki-codesniffer/default.nix
!mediawiki-codesniffer/override.nix
!mediawiki-codesniffer/php-packages.nix
pathvisio/*
!pathvisio/all.nix
!pathvisio/common.nix
!pathvisio/datasourcesLocal.nix
!pathvisio/default.nix
!pathvisio/headless.nix
!pathvisio/huge.nix
!pathvisio/JavaApplicationStub
!pathvisio/pathvisio.xml
!pathvisio/pathway.gpml
!perl-packages.nix
pgsanity/*
!pgsanity/default.nix
privoxy/*
!privoxy/darwin-service.nix
!privoxy/org.nixos.privoxy.plist
tosheets/*
!tosheets/default.nix
sqlint/*
!sqlint/default.nix
!sqlint/Gemfile
!sqlint/Gemfile.lock
!sqlint/gemset.nix
!tosheets/default.nix
vim/*
!vim/.vimrc
!vim/default.nix
!vim/buildInputs.nix
